{% extends 'base.html' %}
{% block nav %}
    {% if user_obj == user %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:update' %}">Редактирвоать профиль</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:change_password' %}">Сменить пароль</a>
        </li>
    {% endif %}
{% endblock nav %}

{% block content %}
    <h1 class="mb-4">Личная страница пользователя {{ user_obj.first_name }}</h1>
    <p>Имя пользователя: {{ user_obj.username }}</p>
    <p>Имя: {{ user_obj.first_name }}</p>
    <p>Фамилия: {{ user_obj.last_name }}</p>
    <p>Почта: {{ user_obj.email }}</p>


    <h2 class="text-center clear mt-5">Статьи автора:</h2>
    <div class="mb-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 justify-content-center">
            {% for review in user_obj.reviews.all %}
                    <div class="col my-2">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">Отзыв № {{ review.id }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Автор: <a href="{% url 'accounts:detail' review.author.id %}">{{ review.author.first_name }}</a></h6>
                                <h6 class="card-subtitle mb-2 text-muted">Почта: <a href="{% url 'accounts:detail' review.author.id %}">{{ review.author.email }}</a></h6>
                                <h6 class="card-subtitle mb-2 text-muted">Текст: {{ review.text }}</h6>
                                <h6 class="card-subtitle mb-2 text-muted">Оценка: {{ review.grade }}</h6>
                                <a href="{% url "webapp:review_update" review.pk %}" class="card-link">Редактировать</a>
                                <a href="{% url "webapp:review_delete" review.pk %}" class="card-link">Удалить</a>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}